.heading-wrapper{
    margin: 9vw 0px 4vw 0px;
}
.main-heading{
    font-size: 9rem;
    font-family: 'Times New Roman', Times, serif;
    color: #6D3D21;
    font-weight: bold;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}
.sub-heading-wrapper{
    display: flex;
    font-size: 2rem;
    padding: 10px;
    justify-content: space-between;
}
.info-wrapper{
    width: 55%;
    font-size: 1.2rem;
}
.main-img-wrapper{
    margin: 76px 0px;
    display: flex;
    justify-content: center;
}
.main-img-wrapper img{
    width: 100%;
}




.facilties-heading{
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    color: #6D3D21;
    font-weight: 600;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}
.facilities-slide-wrapper {
    height: calc(100vw * 3);
    position: relative;
}
.facilities-inner-wrapper{
    position: sticky;
    top: 0px;
}
.facilities-serial{
    font-size: 12rem;
    display: flex;
    justify-content: right;
    font-weight: bold;
}
.serial-box{
    margin-left: 5vw;
}
.facilities-slide{
    display: flex;
    /* overflow-x: hidden; */
    margin: 20px 0px 40px 0px;
    padding-left: 20px;
}
.facility-box{
    display: flex;
    width: 100vw;
}
.facilities-slide-outer{
    width: 100vw;
}
.facility-img img{
    width: 33vw;
}
.facility-img{
    padding: 0px 1vw;
    width: 35vw;
}
.facility-name{
    font-size: 4rem;
    color: #6D3D21;
    width: 25vw;
    display: flex;
}
.facility-info{
    width: 35vw;
    margin-right: 20px;
}
@media screen and (max-width:1220px) {
    .main-heading{
        font-size: 12vw;
    }
    .facilities-serial{
        font-size: 15vw;
    }
    .sub-heading-wrapper{
        font-size: 3vw;
        padding: 5px 0px;
    }
    .info-wrapper{
        width: 100%;
        text-align: center;
        font-size: 2vw;
    }
}
@media screen and  (max-width:1100px) {
    .facilties-heading{
        font-size: 5.5vw;
    }
}
@media screen and (max-width:900px) {
    .facility-name{
        font-size: 5vw;
        /* width: 25vw; */
    } 
    .facility-box{
        width: 85vw;
    }
    .facilities-wrapper{
        margin-bottom: 170px;
    }
    .facility-img img{
        width:80vw
    }
    .facilities-slide-outer{
        width: 85vw;
    }
    .facility-img{
        width: 85vw;
        padding: 0px;
        display: flex;
        margin: 20px 0px;
    }
    .facility-name{
        width: 85vw;
    }
}
@media screen and (max-width:800px) {
    .facility-box{
        flex-direction: column;
    }
    .facilities-serial{
        justify-content: center;
        position: sticky;
        top: 80px;
        background-color: #FDF3EE;
    }
    .facility-info{
        width: 80vw;
        margin-bottom: 20px;
        font-size: 1.2rem;
    }
    .facilities-slide{
        flex-direction: column;
        margin: 20px 0px 0px 0px;
        padding-left: 0px;
    }
}
@media screen and (max-width:750px) {
    .main-heading{
        font-size: 11.5vw;
    }
    .sub-heading-wrapper{
        font-size: 4vw;
    }
    .sub-heading-wrapper div{
        width: 45%;
    }
    .info-wrapper{
        font-size: 2.4vw;
    }
    .main-img-wrapper{
        margin: 15px 0px;
    }
}
@media screen and (max-width:500px) {
    .main-heading{
        font-size:10.3vw ;
    }
}