@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=DM+Serif+Display:ital@0;1&display=swap');

body{
    font-family: "DM Serif Display", system-ui;
    font-family: "Archivo", system-ui;
    /* margin: 0 16px; */
    /* background-color: aqua; */
}

.council-container{
    margin: 170px auto;
    /* overflow-x: hidden; */
    /* width: 100vw; */
}

h1,p,a{
    margin: 0
}

h1{
    font-family: DM Serif Display;
    font-size: 96px;
    font-weight: 400;
    /* line-height: 129.6px; */
    text-align: left;
    color: #6D3D21;
}

hr{
    border: 1px solid #5C5C5C
}


.vaccum{
    width: 22%;
    height: 100%;
}

.warden-wrapper{
    width: 75%;
    float: right;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 120px;
    overflow: hidden;
}

.warden-article{
    width: 47%;
}

.warden-article img{
    width: 100%;
    aspect-ratio: 1 / 1;
    padding-bottom: 25px;
    object-fit: cover;
}

.warden-name, .hmc-name{
    font-family: Archivo;
    font-size: 32px;
    font-weight: 700;
    line-height: 43.2px;
    text-align: left;
    color: #6D3D21;
    padding-bottom: 15px;
}

.warden-position{
    font-family: Archivo;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.4px;
    text-align: left;
    color:  #3D3D3D;
    padding-bottom: 40px;
}

.warden-details h2{
    font-family: Archivo;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: left;
    color: #6D3D21;
    padding-bottom: 4px;
}
.warden-details p{
    font-family: Archivo;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    color: #3D3D3D;
    padding-bottom: 8px;
}


.hmc{
    position: relative;
    overflow: hidden;
    width: 100%;
}

.name,.name p{
    padding-left: 1rem;
    font-family: Archivo;
    font-size: 56px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #6D3D21;
    display: inline;
}

.name{
    position: sticky;
    top: 0;
    /* background-color: wheat; */
}

.hmc-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    float: right;
    overflow-x: hidden;
    overflow-y: hidden;
    /* margin-right: 2rem; */
}

.hmc-article{
    width: 47%;
    margin-bottom: 120px;
    /* display: flex; */
    /* position: relative; */
}

.hmc-article img{
    width: 100%;
    margin-bottom: 25px;
}

.hmc-position p{
    font-family: Archivo;
    font-size: 18px;
    color: #3D3D3D;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
}

.hmc-data{
    position: relative;
    /* height: 100%; */
}

.hmc-social{
    position: absolute;
    top: 10px;
    right: 0;
}

.icons{
    font-size: 26px;
    padding-left: 10px;
}